[submodule "porpoise"]
	path = porpoise
	url = https://github.com/greathouse/porpoise.git
[submodule "Core/resources/porpoise"]
	path = Core/resources/porpoise
	url = https://github.com/greathouse/porpoise.git
[submodule "Core/src/main/resources/porpoise"]
	path = Core/src/main/resources/porpoise
	url = https://github.com/greathouse/porpoise
