/* line 220, ../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/zurb-foundation-4.1.5/scss/foundation/components/_global.scss */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 225, ../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/zurb-foundation-4.1.5/scss/foundation/components/_global.scss */
html,
body {
  font-size: 100%;
}

/* line 228, ../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/zurb-foundation-4.1.5/scss/foundation/components/_global.scss */
body {
  background: white;
  color: #222222;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
}

/* line 241, ../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/zurb-foundation-4.1.5/scss/foundation/components/_global.scss */
a:focus {
  outline: none;
}

/* line 246, ../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/zurb-foundation-4.1.5/scss/foundation/components/_global.scss */
img,
object,
embed {
  max-width: 100%;
  height: auto;
}

/* line 249, ../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/zurb-foundation-4.1.5/scss/foundation/components/_global.scss */
object,
embed {
  height: 100%;
}

/* line 250, ../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/zurb-foundation-4.1.5/scss/foundation/components/_global.scss */
img {
  -ms-interpolation-mode: bicubic;
}

/* line 256, ../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/zurb-foundation-4.1.5/scss/foundation/components/_global.scss */
#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important;
}

/* line 261, ../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/zurb-foundation-4.1.5/scss/foundation/components/_global.scss */
.left {
  float: left !important;
}

/* line 262, ../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/zurb-foundation-4.1.5/scss/foundation/components/_global.scss */
.right {
  float: right !important;
}

/* line 263, ../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/zurb-foundation-4.1.5/scss/foundation/components/_global.scss */
.text-left {
  text-align: left !important;
}

/* line 264, ../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/zurb-foundation-4.1.5/scss/foundation/components/_global.scss */
.text-right {
  text-align: right !important;
}

/* line 265, ../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/zurb-foundation-4.1.5/scss/foundation/components/_global.scss */
.text-center {
  text-align: center !important;
}

/* line 266, ../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/zurb-foundation-4.1.5/scss/foundation/components/_global.scss */
.text-justify {
  text-align: justify !important;
}

/* line 267, ../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/zurb-foundation-4.1.5/scss/foundation/components/_global.scss */
.hide {
  display: none;
}

/* line 273, ../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/zurb-foundation-4.1.5/scss/foundation/components/_global.scss */
.antialiased {
  -webkit-font-smoothing: antialiased;
}

/* line 276, ../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/zurb-foundation-4.1.5/scss/foundation/components/_global.scss */
img {
  display: inline-block;
  vertical-align: middle;
}

/* line 286, ../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/zurb-foundation-4.1.5/scss/foundation/components/_global.scss */
textarea {
  height: auto;
  min-height: 50px;
}

/* line 289, ../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/zurb-foundation-4.1.5/scss/foundation/components/_global.scss */
select {
  width: 100%;
}

/* Progress Bar */
/* line 49, ../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/zurb-foundation-4.1.5/scss/foundation/components/_progress-bars.scss */
.progress {
  background-color: transparent;
  height: 1.5625em;
  border: 1px solid #cccccc;
  padding: 0.125em;
  margin-bottom: 0.625em;
}
/* line 53, ../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/zurb-foundation-4.1.5/scss/foundation/components/_progress-bars.scss */
.progress .meter {
  background: #2ba6cb;
  height: 100%;
  display: block;
}
/* line 56, ../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/zurb-foundation-4.1.5/scss/foundation/components/_progress-bars.scss */
.progress.secondary .meter {
  background: #e9e9e9;
  height: 100%;
  display: block;
}
/* line 57, ../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/zurb-foundation-4.1.5/scss/foundation/components/_progress-bars.scss */
.progress.success .meter {
  background: #5da423;
  height: 100%;
  display: block;
}
/* line 58, ../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/zurb-foundation-4.1.5/scss/foundation/components/_progress-bars.scss */
.progress.alert .meter {
  background: #c60f13;
  height: 100%;
  display: block;
}
/* line 60, ../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/zurb-foundation-4.1.5/scss/foundation/components/_progress-bars.scss */
.progress.radius {
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 61, ../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/zurb-foundation-4.1.5/scss/foundation/components/_progress-bars.scss */
.progress.radius .meter {
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 64, ../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/zurb-foundation-4.1.5/scss/foundation/components/_progress-bars.scss */
.progress.round {
  -webkit-border-radius: 1000px;
  border-radius: 1000px;
}
/* line 65, ../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/zurb-foundation-4.1.5/scss/foundation/components/_progress-bars.scss */
.progress.round .meter {
  -webkit-border-radius: 999px;
  border-radius: 999px;
}

/* line 3, ../sass/greathr.scss */
.young {
  background-color: transparent;
  height: 1.5625em;
  border: 1px solid #cccccc;
  padding: 0.125em;
  margin-bottom: 0.625em;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
/* line 6, ../sass/greathr.scss */
.young > span {
  background: #f2003c;
  height: 100%;
  display: block;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
